<div class="">
    <nav class="nav-breadcrumb">
        <div class="nav-wrapper">
            <div class="col s12">
                <a class="breadcrumb" ng-href="/">Principal</a>
                <a class="breadcrumb" ng-href="">Pagamentos</a>
            </div>
        </div>
    </nav>
    <div class="col s12 m6 l6" ng-repeat="checkout in controller.checkouts">
        <div class="card grey-text">
            <div class="card-content center">
                <a ng-href="/checkouts/{{checkout._id}}">
                    <span class="card-title grey-text text-darken-4" ng-bind="checkout.reference">Card Title</span>
                </a>
                <p>vendedor: <span ng-bind="checkout.receiver.name"></span></p>
                <p>comprador: <span ng-bind="checkout.sender.name"></span></p>
                <a class="activator" href="">mostrar mais</a>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><span ng-bind="checkout.reference"></span><i class="material-icons right">close</i></span>
                <p>data de envio: <span ng-bind="checkout.sentDate | date:'dd/MM/yyyy'"></span></p>
                <hr>
                <p>nome do vendedor: <span ng-bind="checkout.receiver.name"></span></p>
                <p>e-mail do vendedor: <span ng-bind="checkout.receiver.email"></span></p>
                <hr>
                <p>nome do comprador: <span ng-bind="checkout.sender.name"></span></p>
                <p>e-mail do comprador: <span ng-bind="checkout.sender.email"></span></p>
                <p>telefone do comprador: (<span ng-bind="checkout.sender.phone.areaCode"></span>) <span ng-bind="checkout.sender.phone.number"></span></p>
                <p>cpf do comprador: <span ng-bind="checkout.sender.documents[0].value"></span></p>
            </div>
            <div class="panel-form-actions card-action">
                <div class="center">
                    <a ng-href="/checkouts/{{checkout._id}}">Editar</a>
                    <a href="" name="delete" ng-click="controller.delete(checkout)">Deletar</button>
                    <a href="" name="send" ng-click="controller.send(checkout)">Enviar</a>
                </div>
            </div>
        </div>
    </div>
</div>
