<div class="">
    <nav class="nav-breadcrumb">
        <div class="nav-wrapper">
            <div class="col s12">
                <a class="breadcrumb" ng-href="/">Principal</a>
                <a class="breadcrumb" ng-href="">Produtos / Serviços</a>
            </div>
        </div>
    </nav>
    <div class="col s12 m6 l6" ng-repeat="item in controller.items">
        <div class="card grey-text">
            <div class="card-content center">
                <a ng-href="/products/{{item._id}}">
                    <span class="card-title grey-text text-darken-4" ng-bind="item.description">Card Title</span>
                </a>
                <p>código: <span ng-bind="item.id"></span></p>
                <p>valor: <span ng-bind="item.amount | currency:'R$'"></span></p>
            </div>
            <div class="panel-form-actions card-action">
                <div class="center">
                    <a ng-href="/products/{{item._id}}">Editar</a>
                    <a href="" name="delete" ng-click="controller.delete(item)">Deletar</button>
                </div>
            </div>
        </div>
    </div>
</div>
