<div>
    <div class="card" ng-controller="TransactionsController as transactionsCtrl">
        <div class="card-content">
            <span class="card-title">Últimas transações</span>
            <table class="table-transaction responsive-table">
                <thead>
                    <tr>
                        <th>
                            Data
                        </th>
                        <th>
                            Comprador
                        </th>
                        <th>
                            Descrição da compra
                        </th>
                        <th>
                            Tipo
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Valor bruto
                        </th>
                        <th>
                            Valor líquido
                        </th>
                        <th>
                            Data de liberação
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="transaction in transactionsCtrl.transactions">
                        <td ng-bind="transaction.date | date:'dd/MM/yyyy'">
                        </td>
                        <td ng-bind="transaction.sender.name">
                        </td>
                        <td ng-bind="transaction.reference">
                        </td>
                        <td ng-bind="transaction.type | TransactionType">
                        </td>
                        <td ng-bind="transaction.status | TransactionStatus">
                        </td>
                        <td ng-bind="transaction.grossAmount | currency:'R$'">
                        </td>
                        <td ng-bind="transaction.netAmount | currency:'R$'">
                        </td>
                        <td ng-bind="transaction.escrowEndDate | date:'dd/MM/yyyy'">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
