<div class="">
    <nav class="nav-breadcrumb">
        <div class="nav-wrapper">
            <div class="col s12">
                <a class="breadcrumb" ng-href="/">Principal</a>
                <a class="breadcrumb" ng-href="">Compradores</a>
            </div>
        </div>
    </nav>
    <div class="col s12 m6 l6" ng-repeat="sender in controller.senders">
        <div class="card grey-text">
            <div class="card-content center">
                <a ng-href="/senders/{{sender._id}}">
                    <span class="card-title grey-text text-darken-4" ng-bind="sender.name">Card Title</span>
                </a>
                <p>e-mail: <span ng-bind="sender.email"></span></p>
                <p>telefone: (<span ng-bind="sender.phone.areaCode"></span>) <span ng-bind="sender.phone.number"></span></p>
                <a class="activator" href="">mostrar mais</a>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><span ng-bind="sender.name"></span><i class="material-icons right">close</i></span>
                <p>e-mail: <span ng-bind="sender.email"></span></p>
                <p>telefone: (<span ng-bind="sender.phone.areaCode"></span>) <span ng-bind="sender.phone.number"></span></p>
                <p>nascimento: <span ng-bind="sender.bornDate | date:'dd/MM/yyyy'"></span></p>
                <p>cpf: <span ng-bind="sender.documents[0].value"></span></p>
            </div>
            <div class="panel-form-actions card-action">
                <div class="center">
                    <a ng-href="/senders/{{sender._id}}">Editar</a>
                    <a href="" name="delete" ng-click="controller.delete(sender)">Deletar</button>
                </div>
            </div>
        </div>
    </div>
</div>
