<div>
    <form class="form-sender" name="user_register">
        <input type="text" name="name" placeholder="Nome" maxLength="50" ng-model="controller.sender.name">
        <input type="email" name="email" placeholder="E-mail" maxLength="60" ng-model="controller.sender.email">
        <input type="text" name="areaCode" placeholder="DDD" maxLength="2" ng-model="controller.sender.phone.areaCode">
        <input type="phone" name="phoneNumber" placeholder="Telefone" maxLength="20" ng-model="controller.sender.phone.number">
        <input type="Date" name="bornDate" placeholder="Birthday" ng-model="controller.sender.bornDate">
        <h4>Documentos</h4>
        <ul class="list-documents">
            <li ng-repeat="document in controller.sender.documents">
                <label for="value">CPF</label>
                <input type="text" name="value" value="" placeholder="CPF" maxlength="11" ng-model="document.value">
            </li>
        </ul>
        <div class="panel-form-actions">
            <button name="save" ng-click="controller.save()">Gravar</button>
        </div>
    </form>
    <table class="table-sender">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    E-mail
                </th>
                <th>
                    DDD
                </th>
                <th>
                    Telefone
                </th>
                <th>
                    Nascimento
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="sender in controller.senders">
                <td ng-bind="sender.name">
                </td>
                <td ng-bind="sender.email">
                </td>
                <td ng-bind="sender.phone.areaCode">
                </td>
                <td ng-bind="sender.phone.number">
                </td>
                <td ng-bind="sender.bornDate | date:'dd/MM/yyyy'">
                </td>
                <td>
                    <button ng-click="controller.edit(sender)">Editar</button>
                    <button ng-click="controller.delete(sender)">Deletar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
