<div>
    <form class="form-user" name="user_register">
        <input type="email" name="email" placeholder="User email" maxlength="60" ng-model="controller.user.email">
        <input type="password" name="password" placeholder="User password" ng-model="controller.user.password">
        <input type="text" name="token" placeholder="Payment token" maxlength="32" ng-model="controller.user.token">
        <input type="uri" name="redirectURL" placeholder="URL de redirecionamento" ng-model="controller.user.redirectURL">
        <input type="uri" name="notificationURL" placeholder="URL de notificação" ng-model="controller.user.notificationURL">
        <div class="panel-form-actions">
            <button name="save" ng-click="controller.save()">Gravar</button>
        </div>
    </form>
    <table class="table-user">
        <thead>
            <tr>
                <th>
                    Identificador
                </th>
                <th>
                    E-mail
                </th>
                <th>
                    Token PagSeguro
                </th>
                <th>
                    Endereço de redirecionamento
                </th>
                <th>
                    Endereço de notificação
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in controller.users">
                <td ng-bind="user._id">
                </td>
                <td ng-bind="user.email">
                </td>
                <td ng-bind="user.token">
                </td>
                <td ng-bind="user.redirectURL">
                </td>
                <td ng-bind="user.notificationURL">
                </td>
                <td>
                    <button ng-click="controller.edit(user)">Editar</button>
                    <button ng-click="controller.delete(user)">Deletar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
