<div class="">
    <nav class="nav-breadcrumb">
        <div class="nav-wrapper">
            <div class="col s12">
                <a class="breadcrumb" ng-href="/">Principal</a>
                <a class="breadcrumb" ng-href="/users">Vendedores</a>
            </div>
        </div>
    </nav>
    <div class="col s12 m6 l6" ng-repeat="user in controller.users">
        <div class="card grey-text">
            <div class="card-content center">
                <a ng-href="/users/{{user._id}}">
                    <span class="card-title grey-text text-darken-4" ng-bind="user.name">Card Title</span>
                </a>
                <p>e-mail: <span ng-bind="user.email"></span></p>
                <a class="activator" href="">mostrar mais</a>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><span ng-bind="user.name"></span><i class="material-icons right">close</i></span>
                <p>e-mail: <span ng-bind="user.email"></span></p>
                <p>token: <span ng-bind="user.token"></span></p>
                <p>url de redirecionamento: <span ng-bind="user.redirectURL"></span></p>
                <p>url de notificação: <span ng-bind="user.notificationURL"></span></p>
            </div>
            <div class="panel-form-actions card-action">
                <div class="center">
                    <a ng-href="/users/{{user._id}}">Editar</a>
                    <a href="" name="delete" ng-click="controller.delete(user)">Deletar</button>
                </div>
            </div>
        </div>
    </div>
</div>
