<div>
    <table class="table-user">
        <thead>
            <tr>
                <th>
                    Identificador
                </th>
                <th>
                    Nome
                </th>
                <th>
                    E-mail
                </th>
                <th>
                    Token PagSeguro
                </th>
                <th>
                    Endereço de redirecionamento
                </th>
                <th>
                    Endereço de notificação
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in controller.users">
                <td ng-bind="user._id">
                </td>
                <td ng-bind="user.name">
                </td>
                <td ng-bind="user.email">
                </td>
                <td ng-bind="user.token">
                </td>
                <td ng-bind="user.redirectURL">
                </td>
                <td ng-bind="user.notificationURL">
                </td>
                <td>
                    <a ng-href="/users/{{user._id}}">Editar</a>
                    <button ng-click="controller.delete(user)">Deletar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
